<!-- views/posts/partials/header.ejs -->

<h2>Board</h2>
<p>Si tienes alguna pregunta, escribe aquí.</p>
<p>Antes de escribir, debe "Sigh Up" y luego "Login"</p>
<p>Pero no te preocupes, es muy simple.</p>
