<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
  <h2>PLAN DE CURSO</h2>
  <p>Primera Clase 21/Nov/2017~27/Feb/2018<a href="https://docs.google.com/spreadsheets/d/11SiBHrsgYEIzwXzn3sV4JGk-EbMsBi_mCLLdSX2rk_8/edit?usp=sharing"> ver detalle</a></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Subtítulo</th>
        <th>Contenido</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://docs.google.com/presentation/d/1vF3OA0H8EF4jeZ40CCn-z9lqg6S90G6Ubo6mv9B24E8/edit?usp=sharing">Acerca de MEAN stack</a></td>
        <td>Construir un entorno de desarrollo</td>
        <td><a href="https://docs.google.com/presentation/d/18iyIH9KT_Y-2f_yKYhn-T5R0naJjAUM-3pOLh5Ot0Sc/edit?usp=sharing">1. Git y GitHub</a><br>
            <a href="https://docs.google.com/presentation/d/1zQoH5sS0KbcfvWkc2kFCeUIVKSeifW0Gp3yyqlYQnj4/edit?usp=sharing">2. Instalación de Git y unión a GitHub</a><br>
            <a href="https://docs.google.com/presentation/d/1-zThnbJefUZj8QXVJV8pS5qHCsFAG0km-QDzFaAKvzk/edit?usp=sharing">3. Git, GitHub Uso simple</a><br>
            <a href="https://docs.google.com/presentation/d/1dJRY1CFIspr8ym5jJ_Si6CwmgeSVAAoIJ22oqmY6pBQ/edit?usp=sharing">4. Instalación de Node JS, NPM</a><br>
            <a href="https://docs.google.com/presentation/d/1QbGBm-bTrwj1zq9xZQngbiodiBkwO0Idc8LB5kZH3SQ/edit?usp=sharing">5. Instalación de Atom</a></td>
      </tr>
      <tr>
        <td>Primer paso a Node JS</td>
        <td>¡Hola Mundo!<br>
            <a href="https://docs.google.com/presentation/d/19U6YjfTRcZLj_K8iZstgmPXygKVx2Fn7mEEfp-WZHmU/edit?usp=sharing">Únete a Heroku y uso simple</a></td>
        <td><a href="https://docs.google.com/presentation/d/12bk2lpKF8n6uZPzR7COSLBBcaxTuD2eQ3K_0gYyTGYw/edit?usp=sharing">1. Métodos HTTP (Verbos HTTP) - GET, POST, PUT, PATCH, DELETE</a><br>
            <a href="https://docs.google.com/presentation/d/1oKs6A9LaOiC9CD9jXP3PLzmSHzUDXXKm3r7RNtmGRok/edit?usp=sharing">2. Ejecución del servidor como Express</a><br>
            <a href="https://docs.google.com/presentation/d/1GnDojY0ubWTwPUo8iiiu2MQ4K4cGfahp8Tcg5dnow0Q/edit?usp=sharing">3. Sitio estático y sitio dinámico</a><br>
            <a href="https://docs.google.com/presentation/d/1UKwyfAwMhbsfgnibxSGO2dvcvnqiUTvK4U7t2pVyQ_8/edit?usp=sharing">4. Agregar carpeta estática</a><br>
            <a href="https://docs.google.com/presentation/d/1wGyiCg-VrfOWNSuP5FSXAG0SI_7S5Wd6NH0E04oTg-w/edit?usp=sharing">5. Publicación en el sitio Node.js en Internet</a><br>
            6. Creación de un sitio web dinámico con EJS</td>
      </tr>
      <tr>
        <td></td>
        <td>Crear libreta de direcciones</td>
        <td>1. Variable de entorno (Variable de entorno)<br>
            2. Únase a mlab.com y cree en línea Mongo DB<br>
            3. Libreta de direcciones - Creación de proyecto y conexión DB con mongoose<br>
            4. CRUD y 7 acciones estándar<br>
            5. Libreta de direcciones - Índice, Nuevo, Crear<br>
            6. Libreta de direcciones - Mostrar, editar, actualizar, destruir<br>
            7. Node.js - Módulo<br>
            8. Libreta de direcciones - Creación de un módulo<br>
            9. Libreta de direcciones - Styling con bootstrap</td>
      </tr>
      <tr>
        <td></td>
        <td>Crear un tablón de anuncios</td>
        <td>1. Tablón de anuncios - creación de proyectos y navbar<br>
            2. Tablón de anuncios - Desarrollo Back End<br>
            3. Tablón de anuncios - Desarrollo Front End<br>
            4. Tablón de anuncios - Modificar el estilo<br>
            5. Tablón de anuncios - Registro de miembros<br>
            6. Tablón de anuncios - Encriptación de contraseña de cuenta (bcrypt)<br>
            7. Tablón de anuncios - Procesamiento de errores de usuario<br>
            8. Tablón de anuncios - Login function added<br>
            9. Tablón de anuncios - Procesamiento de errores posteriores<br>
            10. Tablón de anuncios - Creación de relaciones posteriores al usuario<br>
            11. Tablón de anuncios - Restricciones de acceso</td>
      </tr>
      <tr>
        <td>Angular 2</td>
        <td>Tour de los Héroes</td>
        <td>0. Cómo instalar Angular 2 y ejecutar proyectos con Angular-CLI<br>
            1. Introducción y Editor de Héroes (@Component, @NgModule, [(ngModel)])<br>
            2. MASTER / DETAIL (* ngFor, [clase], (clic), * ngIf)<br>
            3. Componentes múltiples (@input)<br>
            4. Servicios (@Injectable, OnInit, ngOnInit)<br>
            5. Enrutamiento (router-outlet, routerLink, ActivatedRoute, Observable)<br>
            6. HTTP</td>
      </tr>
      <tr>
        <td></td>
        <td>Crear sitio predeterminado</td>
        <td>1. Crear proyecto y crear ruta<br>
            2. 404 error página añadida<br>
            3. Creación de interfaces y conexión a auth API<br>
            4. Crear formulario de inicio de sesión con formularios reactivos Módulo<br>
            5. Poner token en llamada REST API con interceptor de solicitud HTTP<br>
            6. Creando membresía<br>
            7. Cree una restricción de acceso sin inicio de sesión con la Guardia<br>
            8. Utilizando Resolve<br>
            9. Creando una barra de carga (material angular)<br>
            10. Crear usuario Mostrar / Editar</td>
      </tr>
    </tbody>
  </table>
</div>
  </body>
</html>
