<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>Acerca de MEAN</h1>
        <p>Fechas de clase : 21/Nov/2017~27/Feb/2018<a href="https://docs.google.com/spreadsheets/d/11SiBHrsgYEIzwXzn3sV4JGk-EbMsBi_mCLLdSX2rk_8/edit?usp=sharing"> ver detalle</a></p>
        <p>Si quiere ver los materiales, ve a "PLAN"</p>
        <P>Si tiene alguna pregunta, escribe en "Board"</p>
      </div>
    </div>
  </body>
</html>
